<a href="https://colab.research.google.com/github/canerows/BusinessCard/blob/main/CanerMiuul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Miuul

# If koşulu

In [11]:
x = (6)
if x > 4:
  print(x)

6

# Else & Elif

In [12]:
x = (6)
if x > 4:
  print(x)
else:
  print("yanlış")

6

In [14]:
def number_check(number):
  if number > 10:
    print("greater than 10")
  elif number < 10:
    print("less than 10")
  else:
    print("equal to 10")

number_check(10)

equal to 10

# For döngüsü

In [24]:
students = ["Ali", "Veli", "Caner"]
students[0]
students[1]
students[2]

for student in students:
  print(student)

for student in students:
  print(student.upper())

salaries = [1000, 2000, 3000, 4000, 5000]
for salary in salaries:
  print(salary*0.2 + salary)

for salary in salaries:
  print(int(salary*0.2 + salary))

def new_salary(salary, rate):
  return(int(salary*rate/100 + salary))

new_salary(1500, 10)

for salary in salaries:
  print(new_salary(salary, 15))

for salary in salaries:
  if salary > 3000:
    print(new_salary(salary, 10))
  elif salary < 3000:
    print(new_salary(salary, 20))
  else:
    print(new_salary(salary, 0))

Ali
Veli
Caner
ALI
VELI
CANER
1200.0
2400.0
3600.0
4800.0
6000.0
1200
2400
3600
4800
6000
1150
2300
3450
4600
5750
1200
2400
3000
4400
5500

# Break & While & Continue

In [32]:
salaries = [1000, 2000, 3000, 4000, 5000]
for salary in salaries:
  if salary == 3000:
    break
  print(salary)

1000
2000

In [33]:
salaries = [1000, 2000, 3000, 4000, 5000]
for salary in salaries:
  if salary == 3000:
    continue
  print(salary)

1000
2000
4000
5000

In [34]:
number = 1
while number < 5:
  print(number)
  number += 1

1
2
3
4

# Enumerate

In [44]:
students = ["John", "Mark", "Venessa", "Mariam"]
for student in students:
  print(student)
for index, student in enumerate(students):
  print(index, student)
# öğrencilerin listesinin 1' den başlaması için
for index, student in enumerate(students, 1):
  print(index, student)
# Çift harflileri A listesine, Tekleri B' ye ekleme
A = []
B = []
# A bir listedir, B bir listedir diye ekledik
for index, student in enumerate(students):
  if index % 2 ==0:
    A.append(student)
  else:
    B.append(student)
print(A)
print(B)

John
Mark
Venessa
Mariam
0 John
1 Mark
2 Venessa
3 Mariam
1 John
2 Mark
3 Venessa
4 Mariam
['John', 'Venessa']
['Mark', 'Mariam']

# Alternating fonksiyonunun Enumerate ile yazılması

In [45]:
def alternating_with_enumerate(string):
  new_string = ""
  for i, letter in enumerate(string):
    if i % 2 == 0:
      new_string += letter.upper()
    else:
      new_string += letter.lower()
  print(new_string)

alternating_with_enumerate("hi my name is john and i am learning python")

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

# Zip

In [46]:
students = ["John", "Mark", "Venessa", "Mariam"]
departments = ["mathematics", "statistics", "physics", "astronomy"]
ages = [23, 30, 26, 22]

list(zip(students, departments, ages))

[('John', 'mathematics', 23),
 ('Mark', 'statistics', 30),
 ('Venessa', 'physics', 26),
 ('Mariam', 'astronomy', 22)]

# Lambda & Map & Filter & Reduce

In [48]:
# lambda kullan at tek seferlik fonksiyondur
def summer(a, b):
  return a + b
summer(1, 3) * 9
new_sum = lambda a, b: a + b
new_sum(4, 5)

9

In [56]:
# map döngü
salaries = [1000, 2000, 3000, 4000, 5000]
def new_salary(x):
  return x * 0.2 + x
new_salary(5000)

for salary in salaries:
  print(new_salary(salary))

list(map(lambda x: x * 0.2 + x, salaries))

1200.0
2400.0
3600.0
4800.0
6000.0

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [58]:
# filter belirli bir koşulu sağlayanları seçmek için var
list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Sıfıra bölümünden kalan sıfır mıdırın cevabını arayacağız
list(filter(lambda x: x %2 == 0, list_store))

[2, 4, 6, 8, 10]

In [59]:
# reduce
from functools import reduce
list_store = [1, 2, 3, 4]
reduce(lambda a, b: a + b, list_store)

10

# List Comprehensions

In [68]:
# Birden fazla işlemi yapıp listeye eklemek
salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary(x):
  return x * 0.2 + x

for salary in salaries:
  print(new_salary(salary))

null_list = []

for salary in salaries:
  null_list.append(new_salary(salary))

null_list = []

for salary in salaries:
  if salary > 3000:
    null_list.append(new_salary(salary))
  else:
    null_list.append(new_salary(salary * 2))
print(null_list)

# Bu kadar uzun işlemi list comprehensionsta tek satırda halledebiliyoruz

[new_salary(salary * 2) if salary < 3000 else new_salary(salary) for salary in salaries]

# Aynı veri üzerinde farklı bir örnek

[salary * 2 for salary in salaries if salary < 3000]

# Eğer sadece if varsa if sağda, ancak if ve else varsa bunlar solda, for sağda olur

[salary * 2 if salary < 3000 else salary * 0 for salary in salaries]

1200.0
2400.0
3600.0
4800.0
6000.0
[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

[2000, 4000, 0, 0, 0]

In [70]:
# Öğrenciler ve istenmeyen öğrencileri ayırma

students = ["John", "Mark", "Venessa", "Mariam"]
students_no = ["John", "Venessa"]

[student.lower() if student in students_no else student.upper() for student in students]
# ya da
[student.upper() if student not in students_no else student.lower() for student in students]

['john', 'MARK', 'venessa', 'MARIAM']

# Dict Comprehensions

In [76]:
# Tek bir satırda birden fazla işlemi ifade eder
dictionary = {'a': 1,
              'b': 2,
              'c': 3,
              'd': 4}
dictionary.keys()
dictionary.values()
dictionary.items()
#amacımız key değerlerin karesini almak olsun
{k: v ** 2 for (k, v) in dictionary.items()}
#ya da öyle bir şey yapalım
{k.upper(): v for (k, v) in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [80]:
# Uygulama sorusu Amaç çift sayıların karesini alarak yeni bir sözlüğe eklemek olsun
numbers = range(10)
new_dict = {}

for n in numbers:
  if n % 2 == 0:
    new_dict[n] = n ** 2
print(new_dict)

# ya da daha kolayı
{n: n ** 2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [101]:
# List and Comprehensions Uygulamaları
# before önceki halleri şu olanları
# ['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous', 'ins_premium', 'ins_losses', 'abbrev']
# after şöyle olmaları isteniyormuş
# ['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM', 'INS_LOSSES', 'ABBREV']

import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

for col in df.columns:
  print(col.upper())

A = []

for col in df.columns:
  A.append(col.upper())

print(A)

# Kolonda Adında ins olanların başına Flag, olmayanlara No flag ekleme

[col for col in df.columns if "INS" in col]
["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV
['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS', 'INS_PREMIUM', 'INS_LOSSES', 'ABBREV']

['NO_FLAG_total',
 'NO_FLAG_speeding',
 'NO_FLAG_alcohol',
 'NO_FLAG_not_distracted',
 'NO_FLAG_no_previous',
 'NO_FLAG_ins_premium',
 'NO_FLAG_ins_losses',
 'NO_FLAG_abbrev']

In [121]:
# ödev 1
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

A = []
for col in df.columns:
  A.append(col.upper())

["NUM_" + col for col in A]

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'NUM_ABBREV']

In [122]:
# ödev 2
import seaborn as sns
df = sns.load_dataset("car_crashes")
df.columns

A = []
for col in df.columns:
  A.append(col.upper())

[col + "_FLAG" for col in A if not "NO" in A]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED_FLAG',
 'NO_PREVIOUS_FLAG',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']